<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>
<body class="container">

<h1>Create Event</h1>

<nav th:replace="fragment :: navigation"></nav>

<form method = 'post' action = '/events/create'>
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" name="eventName" class="form=control">
    </div>
    <br>
    <div class="form-group">
        <label for="eventDate">Date:</label>
        <input type="date" id="eventDate" name="eventDate" >
    </div>
    <br>
    <div class="form-group">
        <input type = 'submit' value = 'Create Event' class="btn btn-success">
    </div>
</form>
</body>
</html>