<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragment :: head">
    <script src="resources/static/script.js"></script>
</head>
<body class="container">

<nav th:replace="fragment :: navigation"></nav>


<form method="post" action = '/delete-event'>
    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.eventName}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>